@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

.playfair-font {
  font-family: "Playfair Display", serif;
}
.active {
  border: 2px solid #23BE0A;
  border-radius: 5px;
  padding: 8px 5px 8px 5px;
  color: #23BE0A;
}
